<%= render 'partials/navbar' %>
<div class="view-content container-fluid">	

	<h1>Welcome to the Blog tutorial</h1>

	<h3>Click on the blog tutorial tab to go inside the tutorial</h3>

	<h3>Click on the blog tab to go inside the blog content</h3>

	<h3>Click on the create content tab to create content</h3>
</div>